{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - CoViD19 France</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">CoViD-19 in France</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            >

        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
						
							<a class="nav-link collapsed" href="#" aria-expanded="true"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Datasets
                            </a>
							<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" href="#" onclick="toggleDIV1(1)">Hospital data</a>
							<a class="nav-link" href="#" onclick="toggleDIV1(2)">Energy consumption</a>
							<a class="nav-link" href="#" onclick="toggleDIV1(3)">Air quality</a>
							<a class="nav-link" href="#" onclick="toggleDIV1(4)">Flights</a>
							</nav>
							
							<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Data sources
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" target="_blank" href="https://www.data.gouv.fr/fr/datasets/donnees-des-urgences-hospitalieres-et-de-sos-medecins-relatives-a-lepidemie-de-covid-19/">Hospital data</a>
								<a class="nav-link" target="_blank" href="https://www.data.gouv.fr/en/datasets/donnees-eco2mix-regionales-temps-reel-1/">Energy consumption</a>
								<a class="nav-link" target="_blank" href="https://aqicn.org/data-platform/covid19/?fbclid=IwAR3o8eNvMPf8cSK2GnBk7yxpq5Fvt9ODwq2pXpYeeyk4IxwxZufAvMySs8E">Air quality</a>
								<a class="nav-link" target="_blank" href="https://opensky-network.org/datasets/covid-19/">Flights</a>
								</nav>
                            </div>
							
							<a class="nav-link collapsed" target="_blank" href="https://github.com/CubicOtter/Social-Data-Django-2020/blob/master/Explainer%20notebook_V4.ipynb"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Explainer notebook
                                </a>
							<!--
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard</a
                            >
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="layout-static.html">Static Navigation</a><a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a></nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                        >Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                                        >Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                                    </div>
                                </nav>
                            </div>
							
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts</a
                            ><a class="nav-link" href="tables.html"
                                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables</a
                            >-->
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
						
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dataset evolution before/after lockdown - Hover the data for details</li>
                        </ol>
						<!--
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
							
						<div class="row">
							<div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
                                    <div class="card-body">{{ script|safe }}</canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>-->
						
						<div class="row">
							<div class="col-xl-6" id="DIV1">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Hospital data - Per region</div>
										<div class="card-body">{{ script3|safe }}</canvas></div>
									</div>
							</div>
							<div class="col-xl-6" id="DIV5">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Hospital data - France</div>
										<div class="card-body">{{ script7|safe }}</canvas></div>
									</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xl-6" id="DIV2">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Energy Consumption - Per region</div>
										<div class="card-body">{{ script1|safe }}</canvas></div>
									</div>
							</div>
							<div class="col-xl-6" id="DIV6">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Energy Consumption - France</div>
										<div class="card-body">{{ script5|safe }}</canvas></div>
									</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xl-6" id="DIV3">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Air quality - Per region</div>
										<div class="card-body">{{ script4|safe }}</canvas></div>
									</div>
							</div>
							<div class="col-xl-6" id="DIV7">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Air quality - France</div>
										<div class="card-body">{{ script8|safe }}</canvas></div>
									</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xl-6" id="DIV4">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Flights - Per region</div>
										<div class="card-body">{{ script2|safe }}</canvas></div>
									</div>
							</div>
							<div class="col-xl-6" id="DIV8">
									<div class="card mb-4">
										<div class="card-header"><i class="fas fa-chart-area mr-1"></i>Flights - France</div>
										<div class="card-body">{{ script6|safe }}</canvas></div>
									</div>
							</div>
						</div>
						
						
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Gaétan Moisson-Franckhauser, Tanguy Navez and Brian Tang</div>
							<div class="text-muted">Please note the Bokeh graphs need a few seconds to load. </div>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>
		<script>
		toggleDIV1(1);
		
		function toggleDIV1(num) {
			var divname = "DIV" + num.toString();
			var divname2 = "DIV" + (num + 4).toString();
			var x1 = document.getElementById(divname);
			var x2 = document.getElementById(divname2);
			
			x1.style.display = "block";
			x2.style.display = "block";
			
			for ( var j = 0; j < 3; j++ ) {
				console.log(((num + j)%4 + 1).toString());
				console.log(((num + j)%4 + 5).toString());
				var x3 = document.getElementById("DIV" + ((num + j)%4 + 1).toString());
				var x4 = document.getElementById("DIV" + ((num + j)%4 + 5).toString());
				x3.style.display = "none";
				x4.style.display = "none";
			}
			
			 
		}
		</script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    </body>
</html>
